@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one {
    background-image: url(../images/header-bg.png);
    width: 1366px;
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 139px 100px 139px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    text-transform: capitalize;
    color: #FFFFFF;
}

ul {
    display: flex;
    flex-direction: row;
}

.nav-link {
    margin-right: 54px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav-link-active {
    color: #5863F8;
}

.section-one-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 42px;
    line-height: 56px;
    text-align: left;
    color: #FFFFFF;
}

.heading-block-txt {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #FFFFFF;
}

.line {
    border-right: solid 2px #FFFFFF;
    margin-right: 14px;
    margin-left: 16px;
}